html{
    font-family: "lato"; 
    text-align: center;
}

body{
    margin: 10px 0px;
}

a{
    color: black;
    text-decoration: none;
    border-width: 0px;
}

.header{
    height: 80px;
    width: 60%;
    max-width: 1200px;
    padding-top: 50px;
    margin: auto;
}

#headerlogo{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 25px;
}

#headerlogo:hover{
    background-image: url(HomePage/Mylogohover.png);
    background-size: 79px;
}

.name{
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
}

.name h1{
    font-size: 24px;
    margin: 0px 0px;
    font-weight: 400;
}

.name h3{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 4px;
}

.nav{
    float: right;
    display: flex;
}

.nav-item{
    font-weight: 300;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: black;
}

.navitemword:hover{
    color:white;
    transition: 0.2s;
}

div.scrollmenu {
    padding-top: 100px;
    margin: auto;
    width: 60%; 
    max-width: 1200px;
}

div.menu-item {
    padding: 0px;
    margin-bottom: 100px;
    transition: 0.2s;
}

div.menu-item:hover {
/*
    -webkit-filter: brightness(1.2);
    filter: brightness(1.15);
*/
}

.image{
    width: 100%;
    border-radius: 0px;
    
}

.scrollmenu h2{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: black;
}

.scrollmenu h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 5px;
    color: grey;
}

.scrollmenu h5{
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    padding: 0px;
    color: grey;
}

#footer{
    margin-top: 550px;
}