html{
    text-align: center;
    
}

body{
    font-family: "lato";
    width: 75%;
    margin: auto;
}


a{
    color: black;
    text-decoration: none;
    border-width: 0px;
}

.header{
    height: 80px;
    max-width: 1200px;
    padding-top: 50px;
    margin: auto;
}

#headerlogo{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 25px;
}

#headerlogo:hover{
    content: url(HomePage/logo_hover.png);
}

.nav{
    float: right;
    margin-right: 20px;
    display: flex;
}

.nav-item{
    font-weight: 300;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: #F7CA18;
}

.navitemword:hover{
    color: black;
    transition: 0.2s;
}

.name{
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
}

.name h1{
    font-size: 24px;
    margin: 0px 0px;
    font-weight: 700;
}

.intro{
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 20px;
}

.role{
    margin-top: 20px;
    line-height: 2;
    font-weight: 300;
    
}

.role a{
/*    background-color: #F5D76E;*/
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #F5D76E;
    text-underline-position: below;
}

.role a:hover{
    color: white;
    background-color: #F5D76E;
/*    text-decoration: none;*/

    transition: 0.2s;
}

#who{
    margin-top: 200px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 700;
}

#bg {
    box-sizing: border-box;
    float: right;
    width: 49%;  
}

.arrow {
    clear: both;
    text-align: center;
    margin: auto;
    color: #F7CA18
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.scrollmenu{
    clear: both;
    width: 80%;
    margin: 20px auto;
}

.menu-item h2{
    font-weight: 300;
    margin-bottom: 0px;
}

.menu-item h3{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 70px;
}

.image{
    width: 100%;
    border-radius: 0px;
}

