html{
    font-family: "lato"; 
    text-align: center;
}

body{
    margin: 10px 0px;
}

a{
    color: black;
    text-decoration: none;
}

.header{
    height: 80px;
    width: 85%;
    max-width: 1200px;
    margin: auto ;
}

#headerlogo{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 25px;
}

.name{
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
}

.name h1{
    font-size: 24px;
    margin: 0px 0px;
    font-weight: 400;
}

.name h3{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 4px;
}

.nav{
    float: right;
    display: flex;
}

.nav-item{
    font-weight: 300;
    font-size: 14px;
    margin-left: 30px;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: black;
}

.navitemword:hover{
    color:white;
    transition: 0.2s;
}

.profile{
    margin-top: 50px;
}

#profilepic{
    border-radius: 50%;
    height: 350px; 
}

.profile h1{
    font-size: 40px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.profile h3{
    font-weight: 300;
    margin-bottom: 110px;
}

.menu{
    margin-top: 50px;
}

.menu-item{
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    padding: 0px;
    transition: 0.2s;
}

.menu-item .image:hover{
    -webkit-filter: brightness(1.2);
    filter: brightness(1.15);
    text-shadow: 0 0 5px grey;
}

.image{
    width: 100%;
}

.menu h2{
    margin-top: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.menu h3{
    font-weight: 300;
    margin-top: 0px;
}

#footer{
    margin-top: 550px;
}